/* .uber{
    background-color: black;
    color: white;
  height: 40px;
  border: 8px solid white;
}
.Amazon{
    background-color: yellow;
    color: black;
    height: auto;
    border: 8px solid yellow;
    border-radius: 50px 50px;
    width: 150px;
}
.git{
    background-color: green;
    color: white;
    height: 40px;
  border-radius: 15px;
  width: 200px;
  color: white;
  border: 8px solid white;
}
.link{
    background-color: blue;
    color: white;
    border-radius: 15px;
    width: 200px;
    border-color: 2px lightblue ;
} */